# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# Environment variables
.env
.gitignore

# Models (VERY IMPORTANT - large files)
models/

# OS files
.DS_Store
Thumbs.db
.vscode/

# Cache / temp
*.log

# Local data
last_temperature.json
settings.json

# Dev / temp files
*.code-workspace
last_temperature.json

# Test files
tests/
TunedPersonalAssistant.code-workspace