# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# Environment variables
.env

# Models (VERY IMPORTANT - large files)
models/

# OS files
.DS_Store
Thumbs.db

# Cache / temp
*.log

# Local data
last_temperature.json